@import 'tailwindcss';

@layer base {
	button {
		background-color: var(--color-green-500);
		color: var(--color-black);
		font-weight: var(--font-weight-semibold);
		padding: 0.5rem 1rem;
		border-radius: var(--radius-lg);
		cursor: pointer;
		transition: background-color var(--default-transition-duration)
			var(--default-transition-timing-function);
	}

	button:hover {
		background-color: var(--color-green-400);
	}
}

body {
	font-family: 'DM Sans', sans-serif;
}